.header_dis {
    padding-bottom: 70px;
}

header {
    min-width: 600px;
    background-color: #3E4551;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    /* min-height: 90px; */
    padding: 10px 20px;
    bottom: unset;
}

a {
    text-decoration: none;
    background-color: #4b515d;
    border-radius: 5px;
    margin: 5px;
}

.header_logo a {
    text-decoration: none;
}

.header_logo a h1 {
    font-size: 40px;
    color: black;
}

.header_interface ul {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.header_interface ul span a {
    float: right;
    padding: 10px;
    color: #dcddd8;
    margin: 5px;
}

/* .header_interface ul span a:visited {} */

.user_info a:visited {
    color: #3e4551;
}