<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>userJoin</title>
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .possible {
      display: none;
      color: green;
    }

    .impossible {
      display: none;
      color: red;
    }
  </style>
</head>

<body>
  <h1>회원가입</h1>
  <div class="container">
    <form action="/userJoin" method="post">
      <div class="form-group">

        <label for="id">ID</label>
        <input type="text" id="id" name="user_id" placeholder="ID을 입력하세요" />
        <button type="button" onclick="idCheck()">ID 확인</button><br />
        <span class="possible">사용가능한 ID 입니다!</span>
        <span class="impossible">다른 ID 를 시도해주세요</span>
        <br>
        <label for="name">이름</label>
        <input type="text" id="name" name="user_name" placeholder="이름을 입력하세요" /><br />

        <label for="pw1">PW</label>
        <input type="text" id="pw1" name="user_pw" placeholder="PW을 입력하세요" /><br />
        <label for="pw2">PW</label>
        <input type="text" id="pw2" placeholder="PW을 다시 입력하세요" /><br />

        <button type="button" onclick="pwCheck()">pw 확인</button>
        <button id="subbtn" disabled="disabled" type="submit">등록</button>

      </div>
    </form>
  </div>
</body>
<script type="text/javascript">

  function idCheck() {
    var id = document.getElementById('id').value;
    //var id = $('#id').val();

    $.ajax({
      url: './idCheck', type: 'post', data: { id: id },
      success: function (ans) {
        if (ans == true) {
          $('.possible').css("display", "inline-block");
          $('.impossible').css("display", "none");
          alert("사용가능한 ID 입니다!");
        } else {
          $('.impossible').css("display", "inline-block");
          $('.possible').css("display", "none");
          alert("아이디를 다시 입력해주세요");
          // $('#id').val('');
        }
      },
      error: function () {
        alert("나중에 다시 시도해주세요");
      }
    })
  }

  function pwCheck() {
    const pw1 = document.getElementById('pw1').value;
    const pw2 = document.getElementById('pw2').value;
    if (pw1 == pw2) {
      alert('pw가 일치 합니다');
      const target = document.getElementById('subbtn');
      target.disabled = false;
    }
  }
</script>

</html>