<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MyProfile</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="header.css">
    <link rel="stylesheet" href="board.css" />
</head>

<body>
    <div class="container">
        <div class="header_dis">
            <header class="header">
                <div class="header_logo">
                    <a href="/">
                        <H1> LFG MyProfile</H1>
                    </a>
                </div>
                <span class="header_interface">
                    <ul>
                        <span class="user-info" th:if="${loginInfo != null}">
                            <a href="/logout">로그아웃</a>
                            <a th:text="${loginInfo.user_name}"></a>
                            <a href="/myProfile">내 프로필</a>
                            <a href="/docWrite">글쓰기</a>

                        </span>
                        <span class="user-info_null" th:if="${loginInfo == null}">
                            <a href="/userLogin">로그인</a>
                            <a href="/userJoin">회원가입</a>
                        </span>
                    </ul>
                </span>
            </header>
        </div>
        <div class="profile_container" style="background-color: #3E4551;">
            <div class="userprofile">
                <ul>
                    <h1>내정보 :</h1><br>
                    <div th:text="${loginInfo.user_name}"></div>
                    <a href="/userModify">내정보 수정하기</a>
                </ul>
                <h1>모집글 관리</h1>
                <ul>
                    <h1>해당유저글 List</h1>
                </ul>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    function idCheck() {
        var id = document.getElementById('id').value;
        //var id = $('#id').val();

        $.ajax({
            url: './idCheck', type: 'post', data: { id: id },
            success: function (ans) {
                if (ans == true) {
                    $('.possible').css("display", "inline-block");
                    $('.impossible').css("display", "none");
                    alert("사용가능한 ID 입니다!");
                } else {
                    $('.impossible').css("display", "inline-block");
                    $('.possible').css("display", "none");
                    alert("아이디를 다시 입력해주세요");
                    // $('#id').val('');
                }
            },
            error: function () {
                alert("나중에 다시 시도해주세요");
            }
        })
    }

    function pwCheck() {
        const pw1 = document.getElementById('pw1').value;
        const pw2 = document.getElementById('pw2').value;
        if (pw1 == pw2) {
            alert('pw가 일치 합니다');
            const target = document.getElementById('subbtn');
            target.disabled = false;
        }
    }
</script>

</html>