<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>userJoin</title>
</head>

<body>
  <h1>회원가입</h1>
  <div class="container">
    <form action="/userJoin" method="post">
      <div class="form-group">
        <label for="id">ID</label>
        <input type="text" id="id" name="user_id" placeholder="ID을 입력하세요" /><br />
        <label for="name">이름</label>
        <input type="text" id="name" name="user_name" placeholder="이름을 입력하세요" /><br />

        <label for="pw1">PW</label>
        <input type="text" id="pw1" name="user_pw" placeholder="PW을 입력하세요" /><br />
        <label for="pw2">PW</label>
        <input type="text" id="pw2" placeholder="PW을 다시 입력하세요" /><br />
        <button type="button" onclick="showAlert()">pw 확인</button>
        <button id="subbtn" disabled="disabled" type="submit">등록</button>

      </div>
    </form>
  </div>
</body>
<script type="text/javascript">
          function showAlert() {
            const pw1 = document.getElementById('pw1').value;
            const pw2 = document.getElementById('pw2').value;
            if (pw1 == pw2) {
              console.log('pw1과 pw2가 같습니다');
              alert('pw가 일치 합니다');
              const target = document.getElementById('subbtn');
              target.disabled = false;
            }
          }
        </script>
</html>